{% extends "general_base.html" %}

{% block styles %}
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
      }

      .content-td,
      .content-th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      .content-tr:nth-child(even) {
        background-color: #dddddd;
      }
{% endblock %}

{% block content %}
<h1 style="text-align: center">{{ title }}</h1>
<h6 style="text-align: center">{{ id }}</h6>
<p>{{ description|safe }}</p>
<table class="volumes-table">
  <tr>
    <td>Status</td>
    <td>
      <h3>{{ status }}</h3>
    </td>
  </tr>
  <tr>
    <td>Volumes</td>
    <td>
      <h3>{{ volumes|length }}</h3>
    </td>
  </tr>
</table>
<hr />
{% endblock %}

